version: '3.7'

services:
  aggregation_api:
    build:
      context: ./
    environment:
      - "NODE_ENV=production"
      - "GRAPHQL_API_URL=${GRAPHQL_API_URL}"
    ports:
      - "3000:3000"
    deploy:
      restart_policy:
        condition: on-failure
        delay: 30s
        max_attempts: 5
        window: 15s
