apiVersion: apps/v1
kind: Deployment
metadata:
  name: aggregation-api
  namespace: production
  labels:
    app: aggregation-api
spec:
  replicas: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 50%
      maxSurge: 50%
  selector:
    matchLabels:
      app: aggregation-api
  template:
    metadata:
      namespace: production
      labels:
        app: aggregation-api
    spec:
      containers:
      - name: aggregation-api
        image: cr.yandex/crpfb8t478v3of681kce/aggregation-api:1.0.20
        ports:
          - containerPort: 3000
        readinessProbe:
          httpGet:
            path: /api/v1/status
            port: 3000
          initialDelaySeconds: 30
          periodSeconds: 5
          successThreshold: 1
          failureThreshold: 3
        envFrom:
          - configMapRef:
              name: aggregation-api-config
      imagePullSecrets:
      - name: gitlabregistrycred
