apiVersion: apps/v1
kind: Deployment
metadata:
  name: aggregation-api-redoc-deployment
  namespace: development
  labels:
    app: aggregation-api-redoc
spec:
  replicas: 1
  selector:
    matchLabels:
      app: aggregation-api-redoc
  template:
    metadata:
      namespace: development
      labels:
        app: aggregation-api-redoc
    spec:
      containers:
      - name: aggregation-api
        image: registry.gitlab.com/pshenmic/ivend/aggregation-api-redoc
        env:
        - name: SPEC_URL
          value: "swagger.yml"
        ports:
        - containerPort: 80
      imagePullSecrets:
      - name: gitlabregistrycred
